<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人员列表</title>
</head>
<body>
    <h2>人员列表</h2>

    <!-- 添加搜索表单 -->
    <form method="GET">
        <label for="search-name">搜索姓名：</label>
        <input type="text" id="search-name" name="search_name">
        <button type="submit">搜索</button>
    </form>

    <a href="{% url 'person_create' %}">新增人员</a>
    <table>
        <thead>
            <tr>
                <th>名字</th>
                <th>年龄</th>
                <th>性别</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ person.age }}</td>
                    <td>{{ person.get_gender_display }}</td>
                    <td>
                        <a href="{% url 'person_update' person.pk %}">编辑</a>
                        <a href="{% url 'person_delete' person.pk %}">删除</a>
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="4">暂无数据</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">上传文件</button>
      </form>
    
      
{% block uploaded_files_block %}
<p>此处应该有文件记录</p>

<!-- upload_success-->
{% if uploaded_file %}
  <p>文件上传成功！</p>
  <p>文件名：{{ uploaded_file.file.name }}</p>
  <p>上传时间：{{ uploaded_file.uploaded_at }}</p>
  <a href="{% url 'person_list' %}">返回</a>
  
{% endif %}

<h1>List of uploaded files</h1>
<ul>
    {% for file in files %}
        {% comment %} <li>
            <a href="{{ file.file.url }}">{{ file.file.name }}</a>
            <span>(Uploaded {{ file.uploaded_at|date:'F j, Y' }})</span> 
            <form action="{% url 'delete_file' file.pk %}" method="post">
                {% csrf_token %}
                <button type="submit">删除</button>
            </form>
            
        </li> {% endcomment %}

        <li>
            <a href="{{ file.file.url }}">{{ file.file.name }}</a>
            <span>(Uploaded {{ file.uploaded_at|date:'F j, Y' }})</span>
            <form style="display: inline-block;" action="{% url 'delete_file' file.pk %}" method="post">
                {% csrf_token %}
                <button type="submit">删除</button>
            </form>
        </li>
    {% empty %}
        <li>No files have been uploaded yet.</li>
    {% endfor %}
</ul>
{% endblock %}


{% if messages %}
<script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
{% endif %}




</body>
</html>

